<nav class="navbar navbar-expand-lg navbar-light color-poter" >
  <style>
    @import url('https://fonts.cdnfonts.com/css/harry-potter');
</style>


  <a class="navbar-brand" href="#"><h1>Harry Potter</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="navbar-hp.component.html">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="alumnos.component.html">Alumnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="casas.component.html">Casas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="hechizos.component.html">Hechizos</a>
      </li>
    </ul>
  </div>
</nav>

<section>
  <div class="card"  >
      <img src="assets/img/hogwartsjpg.jpg" alt="">
      <p>Hogwarts</p>
  </div>
</section>

